"""This module contains constants used in the api package.
"""

ctx = "http://34.126.76.13/context.jsonld"
#broker_url = "35.240.151.148"
broker_url = "localhost"
broker_port = 1026 # default, 80
temporal_port = 8080#default 1026
broker_tenant = "openiot"
cache = "./cache/output.json"

LTA_API_KEY = ""
TELEGRAM_BOT_KEY = ""
ONE_MAP_TOKEN = ""