aiofiles
annotated-types
anyio
APScheduler
asyncio
backoff
CacheControl
cachetools
certifi
cffi
charset-normalizer
colorama
commonmark
cryptography
distro
et_xmlfile
firebase-admin
geographiclib
geojson
geopy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
googlemaps
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
isodate
jiter
landtransportsg==1.3.0
msgpack
multipledispatch
networkx
ngsildclient
numpy==1.20.3
openai
openpyxl
pandas==1.3.5
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
python-dateutil
python-telegram-bot
pytz
requests
rfc3986
rich
rsa
scalpl
six
sniffio
telegram
tqdm
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
Flask==2.3.3